body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* רקע הדף */
}

#login_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(45deg, #0000FF, #FF0000); /* מעבר צבעים לכפתור */
    border: none;
    border-radius: 35px; /* פינות מעוגלות יותר */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    width: 150px; /* רוחב כפתור גדול */
    height: 150px; /* גובה כפתור גדול */
}



.button-icon {
    width: 80%; /* התמונה תשתמש ב-80% מגודל הכפתור */
    height: 80%; /* שמירה על פרופורציות */
    object-fit: contain; /* שמירה על יחס רוחב-גובה נכון */
    display: block;
}

iframe {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* width: 100%;
    height: 100%;
    border: none;
    overflow: hidden; */
}
  
/* body {
    background-color: lightblue
}  */
/*  .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: #fff;
            background-color: #0078D7;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
        }

        .button:hover {
            background-color: #005EA6;
        } */
a {
    font-family: math;
    text-decoration: none;
    color: white;
    /* font-size: x-large; */
    position: relative;
    top: 30%;
}

/* div {
    border-radius: 30%;
    top: 40%;
    position: absolute;
    left: 40%;
    background-color: red;
    text-align: center;
    color: white;
    height: 10vh;
    width: 20%;
} */

